<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamslms.dreamstechnologies.com/html/index-four.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jan 2024 16:51:02 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams LMS</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Scripts/assets/img/favicon.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Scripts/assets/plugins/fontawesome/css/all.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Scripts/assets/css/owl.theme.default.min.css">

    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/Scripts/assets/plugins/slick/slick-theme.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/plugins/select2/css/select2.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/plugins/aos/aos.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/style.css">

</head>
<body class="home-five">

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header header-page">
            <div class="header-fixed">
                <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
                    <div class="container">
                        <div class="navbar-header">
                            <a id="mobile_btn" href="javascript:void(0);">
                                <span class="bar-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="index.html" class="navbar-brand logo">
                                <img src="~/Scripts/assets/img/logo.svg" class="img-fluid" alt="Logo">
                            </a>
                        </div>
                        <div class="main-menu-wrapper">
                            <div class="menu-header">
                                <a href="index.html" class="menu-logo">
                                    <img src="~/Scripts/assets/img/logo.svg" class="img-fluid" alt="Logo">
                                </a>
                                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            @if (User.IsInRole("Teacher"))
                            {
                                <ul class="main-nav">
                                    <li class="">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">Instructor <i class="fas fa-chevron-down"></i></a>
                                        <ul class="submenu">
                                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Teacher")</li>
                                            <li></li>
                                            <li class="has-submenu">
                                                <a href="#">My classes</a>
                                                <ul class="submenu">
                                                    <li>@Html.ActionLink("All Classes", "Lophoc", "Teacher", routeValues: new { UserId = User.Identity.GetUserId() }, htmlAttributes: new { title = "Class" })</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">Setting up <i class="fas fa-chevron-down"></i></a>
                                        <ul class="submenu first-submenu">
                                            <li>@Html.ActionLink("My Courses", "Khoahoc", "Teacher", routeValues: new { UserId = User.Identity.GetUserId() }, htmlAttributes: new { title = "Course" })</li>
                                            <li>@Html.ActionLink("My Blogs", "YourPost", "Teacher", routeValues: new { UserId = User.Identity.GetUserId() }, htmlAttributes: new { title = "Blog" })</li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="~/Teacher/RollOut">Check-in <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                </ul>
                            }
                            else if (User.IsInRole("Student"))
                            {
                                <ul class="main-nav">
                                    <li class="has-submenu active">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">Your classes<i class="fas fa-chevron-down"></i></a>
                                        <ul class="submenu">
                                            <li>@Html.ActionLink("All Classes", "ListClass", "Student")</li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">Your Courses<i class="fas fa-chevron-down"></i></a>
                                        <ul class="submenu first-submenu">
                                            <li class="has-submenu ">
                                                @Html.ActionLink("All Courses", "ListCourses", "Student")
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Your check-in", "TotalAbsent", "Student", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "View your check-in" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Blog", "HomeBlog", "Home")
                                    </li>
                                    <li>
                                        @Html.ActionLink("History Purchase", "MyCourse", "Student")
                                    </li>
                                </ul>
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                <ul class="main-nav">
                                    <li class="has-submenu active">
                                        <a href="Index">Home</a>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">List <i class="fas fa-chevron-down"></i></a>
                                        <ul class="submenu">
                                            <li>@Html.ActionLink("Users", "List", "Admin")</li>
                                            <li>@Html.ActionLink("Roles", "RoleList", "Admin")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Pending Blogs", "Blog", "Admin")</li>
                                    <li>@Html.ActionLink("Purchased Courses", "HistoryPurchase", "Admin")</li>
                                </ul>
                            }
                            else
                            {
                                <ul class="main-nav">
                                    <li class="has-submenu active">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                    <li class="has-submenu">
                                        @Html.ActionLink("Current Courses", "Courses", "Home")
                                    </li>
                                    <li class="has-submenu">
                                        @Html.ActionLink("Current Teachers", "Teachers", "Home")
                                    </li>
                                    <li class="has-submenu">
                                        @Html.ActionLink("Blog", "HomeBlog", "Home")
                                    </li>
                                </ul>
                            }
                        </div>
                        @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            <ul class="nav header-navbar-rht">
                                <li class="nav-item">
                                    <a href="instructor-chat.html"><img src="~/Scripts/assets/img/icon/messages.svg" alt="img"></a>
                                </li>
                                <li class="nav-item cart-nav">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <img src="~/Scripts/assets/img/icon/cart.svg" alt="img">
                                    </a>
                                    <div class="wishes-list dropdown-menu dropdown-menu-right">
                                        <div class="wish-header">
                                            <a href="#">View Cart</a>
                                            <a href="javascript:void(0)" class="float-end">Checkout</a>
                                        </div>
                                        <div class="wish-content">
                                            <ul>
                                                <li>
                                                    <div class="media">
                                                        <div class="d-flex media-wide">
                                                            <div class="avatar">
                                                                <a href="course-details.html">
                                                                    <img alt="" src="~/Scripts/assets/img/course/course-15.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6><a href="course-details.html">C# Developers Double ...</a></h6>
                                                                <p>Jesse Stevens</p>
                                                                <h5>$200 <span>$99.00</span></h5>
                                                            </div>
                                                        </div>
                                                        <div class="remove-btn">
                                                            <a href="#" class="btn">Remove</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="total-item">
                                                <h6>Subtotal : $ 600</h6>
                                                <h5>Total : $ 600</h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item wish-nav">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <img src="~/Scripts/assets/img/icon/wish.svg" alt="img">
                                    </a>
                                    <div class="wishes-list dropdown-menu dropdown-menu-right">
                                        <div class="wish-content">
                                            <ul>
                                                <li>
                                                    <div class="media">
                                                        <div class="d-flex media-wide">
                                                            <div class="avatar">
                                                                <a href="course-details.html">
                                                                    <img alt="" src="~/Scripts/assets/img/course/course-15.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6><a href="course-details.html">C# Developers Double ...</a></h6>
                                                                <p>Jesse Stevens</p>
                                                                <h5>$200 <span>$99.00</span></h5>
                                                                <div class="remove-btn">
                                                                    <a href="#" class="btn">Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item noti-nav">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <img src="~/Scripts/assets/img/icon/notification.svg" alt="img">
                                    </a>
                                    <div class="notifications dropdown-menu dropdown-menu-right">
                                        <div class="topnav-dropdown-header">
                                            <span class="notification-title">
                                                Notifications
                                                <select>
                                                    <option>All</option>
                                                    <option>Unread</option>
                                                </select>
                                            </span>
                                            <a href="javascript:void(0)" class="clear-noti">Mark all as read <i class="fa-solid fa-circle-check"></i></a>
                                        </div>
                                        <div class="noti-content">
                                            <ul class="notification-list">
                                                <li class="notification-message">
                                                    <div class="media d-flex">
                                                        <div>
                                                            <a href="notifications.html" class="avatar">
                                                                <img class="avatar-img" alt="" src="~/Scripts/assets/img/user/user1.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6><a href="notifications.html">John Hammond <span>created</span> Isla Nublar SOC2 compliance report </a></h6>
                                                            <p>Last Wednesday at 11:15 AM</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item user-nav">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <span class="user-img">
                                            <img src="~/Scripts/assets/img/instructor/profile-avatar.jpg" alt="">
                                            <span class="status online"></span>
                                        </span>
                                    </a>
                                    <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                                        <div class="user-header">
                                            <div class="avatar avatar-sm">
                                                <img src="~/Scripts/assets/img/instructor/profile-avatar.jpg" alt="User Image" class="avatar-img rounded-circle">
                                            </div>
                                            <div class="user-text">
                                                <h6>@User.Identity.GetUserName()</h6>
                                                @if (User.IsInRole("Teacher"))
                                                {
                                                    <p class="text-muted mb-0">Teacher</p>
                                                }
                                                else if (User.IsInRole("Student"))
                                                {
                                                    <p class="text-muted mb-0">Student</p>
                                                }
                                                else if (User.IsInRole("Admin"))
                                                {
                                                    <p class="text-muted mb-0">Admin</p>
                                                }
                                            </div>
                                        </div>
                                        <p class="dropdown-item"><i class="feather-home me-1"></i>@Html.ActionLink("Dashboard", "Index", "Home")</p>
                                        <p class="dropdown-item"><i class="feather-star me-1"></i>@Html.ActionLink("Edit Profile", "UpdateUser", "Home", routeValues: new { UserId = User.Identity.GetUserId() }, htmlAttributes: new { title = "Update" })</p>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="feather-log-out me-1"></i>Logout</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav header-navbar-rht">
                                <li class="nav-item">
                                    <a class="nav-link header-sign" href="~/Account/Login">Sign in</a>
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Sign up", "AddUser", "Home", new { @class = "nav-link header-login" })
                                </li>
                            </ul>
                        }
                    </div>
                </nav>
            </div>
        </header>
        <!-- /Header -->
        @RenderBody()
        <!-- Footer -->
        <footer class="footer footer-five">
            <!-- Footer Top -->
            <div class="footer-top-five">
                <div class="container">

                    <div class="footer-five-left">
                        <img src="~/Scripts/assets/img/bg/footer-left.svg" alt="">
                    </div>

                    <div class="row">

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">

                            <!-- Footer Widget -->
                            <div class="footer-contact footer-menu-five">
                                <h2 class="footer-title footer-title-five">Get in touch</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="feather-map-pin"></i></span>
                                        <p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p class="mb-0">
                                        <span class="phone-icon"><i class="fa-solid fa-phone-volume"></i></span>
                                        +19 123-456-7890
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-12">

                            <!-- Footer Widget -->
                            <div class="footer-menu footer-menu-five">
                                <h2 class="footer-title footer-title-five"><i class="fa-sharp fa-solid fa-dash"></i>For Instructor</h2>
                                <ul>
                                    <li><a href="instructor-profile.html">Profile</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="instructor-list.html">Instructor</a></li>
                                    <li><a href="deposit-instructor-dashboard.html"> Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-12">

                            <!-- Footer Widget -->
                            <div class="footer-menu footer-menu-five">
                                <h2 class="footer-title footer-title-five">For Student</h2>
                                <ul>
                                    <li><a href="student-profile.html">Profile</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="students-list.html">Student</a></li>
                                    <li><a href="deposit-student-dashboard.html"> Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <h2 class="footer-title footer-title-five">Get More Updates</h2>
                            <!-- Footer Widget -->
                            <div class="footer-widget-five">
                                <div class="footer-news-five">
                                    <form>
                                        <div class="input-block mb-0">
                                            <input type="text" class="form-control" placeholder="Enter Your Email Address">
                                            <button type="submit" class="btn btn-one">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="footer-about-five">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris</p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>

                    <div class="footer-five-right">
                        <img src="~/Scripts/assets/img/bg/footer-right.svg" alt="">
                    </div>

                </div>
            </div>
            <!-- /Footer Top -->
            <!-- Footer Bottom -->
            <div class="footer-bottom footer-bottom-five">
                <div class="container">

                    <!-- Copyright -->
                    <div class="copyright-five">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="footer-logo-five">
                                    <a href="index.html">
                                        <img src="~/Scripts/assets/img/logo/logo-five.svg" class="img-fluid" alt="Footer Logo">
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="copyright-text">
                                    <p>&copy; 2023 DreamsLMS. All rights reserved.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="social-icon-five">
                                    <ul class="nav">
                                        <li>
                                            <a href="#" target="_blank" class="twitter-icon">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="linked-icon">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="facebook-icon">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="youtube-icon">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

                </div>
            </div>
            <!-- /Footer Bottom -->

        </footer>
        <!-- /Footer -->

    </div>
    <!-- Main Wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/Scripts/assets/js/bootstrap.bundle.min.js"></script>

    <!-- counterup JS -->
    <script src="~/Scripts/assets/js/jquery.waypoints.js"></script>
    <script src="~/Scripts/assets/js/jquery.counterup.min.js"></script>

    <!-- Select2 JS -->
    <script src="~/Scripts/assets/plugins/select2/js/select2.min.js"></script>

    <!-- Owl Carousel -->
    <script src="~/Scripts/assets/js/owl.carousel.min.js"></script>

    <!-- Slick Slider -->
    <script src="~/Scripts/assets/plugins/slick/slick.js"></script>

    <!-- Aos -->
    <script src="~/Scripts/assets/plugins/aos/aos.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/assets/js/script.js"></script>

</body>

<!-- Mirrored from dreamslms.dreamstechnologies.com/html/index-four.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jan 2024 16:51:43 GMT -->
</html>
