@model IEnumerable<Advanced.Models.UserList>
@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Views/Shared/Separated.cshtml";
}
<section class="page-content course-sec p-5">
    <div class="container">
        <table class="table">
            <tr>
                <td>UserId</td>
                <td>UserName</td>
                <td>Email</td>
                <td>FullName</td>
                <td>Phone number</td>
                <td>Age</td>
                <td>Address</td>
                <td>Role</td>
                <td>Action</td>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Fullname</td>
                    <td>@user.Phonenumber</td>
                    <td>@user.Age</td>
                    <td>@user.Address</td>
                    <td>@user.RoleName</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteUser", "Admin", routeValues: new { UserId = user.UserId }, htmlAttributes: new { title = "Delete" })
                    </td>
                </tr>
            }
        </table>
    </div>
</section>
