@using Microsoft.AspNet.Identity
@model Advanced.Models.Khoahoc
@{
    ViewBag.Title = "Edit your Course";
    Layout = "~/Views/Shared/Separated.cshtml";
    var ca = ViewBag.Cate as List<Advanced.Models.Category>;
}
<section class="page-content course-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="add-course-header">
                    <h2>Edit your Course</h2>
                    <div class="add-course-btns">
                        <ul class="nav">
                            <li>
                                <a href="~/Teacher/Khoahoc?UserId=@User.Identity.GetUserId()" class="btn btn-black">Back to Course</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="widget-set">
                        @using (Html.BeginForm("Edit_kh", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("kh_id", Model.kh_id)
                            @Html.Hidden("UserId", Model.UserId)
                            <div class="input-block">
                                @Html.LabelFor(m => m.name, new { @class = "add-course-label" })
                                @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                            </div>
                            <div class="input-block">
                                @Html.LabelFor(m => m.Image, new { @class = "add-course-label" })
                                <input type="file" name="fKhoahoc" value="@Model.Image" />
                                <img src="@Model.Image" width="200" height="200" style="margin: 0 30px;" />
                            </div>
                            <div class="input-block">
                                @Html.LabelFor(m => m.category_id, new { @class = "add-course-label" })
                                @Html.DropDownListFor(
                                    x => x.category_id,
                                    new SelectList(
                                       ca,
                                       nameof(Advanced.Models.Category.ca_id),
                                       nameof(Advanced.Models.Category.ca_name)
                                    ),
                                    new { @class = "form-control" })
                            </div>
                            <div class="input-block mb-0">
                                @Html.LabelFor(m => m.Content, new { @class = "add-course-label" })
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                            </div>
                            <div class="input-block mb-0">
                                @Html.LabelFor(m => m.Price, new { @class = "add-course-label" })
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                            </div>
                            <div class="d-grid">
                                <input type="submit" value="Save" class="btn btn-primary btn-start" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

