@model Advanced.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";

    var roles = ViewBag.Roles as List<Advanced.Models.RoleViewDto>;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamslms.dreamstechnologies.com/html/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jan 2024 16:53:05 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams LMS</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Scripts/assets/img/favicon.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Scripts/assets/plugins/fontawesome/css/all.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Scripts/assets/css/owl.theme.default.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/plugins/feather/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/style.css">

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper log-wrap">

        <div class="row">

            <!-- Login Banner -->
            <div class="col-md-6 login-bg">
                <div class="owl-carousel login-slide owl-theme">
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="~/Scripts/assets/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>DreamsLMS Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="~/Scripts/assets/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>DreamsLMS Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="~/Scripts/assets/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>DreamsLMS Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Login Banner -->

            <div class="col-md-6 login-wrap-bg">

                <!-- Login -->
                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="img-logo">
                            <img src="~/Scripts/assets/img/logo.svg" class="img-fluid" alt="Logo">
                            <div class="back-home">
                                <a href="index.html">Back to Home</a>
                            </div>
                        </div>
                        <h1>Sign up</h1>
                        @using (Html.BeginForm("AddUser", "Home", FormMethod.Post, new { @class = "mt-8 grid grid-cols-6 gap-6", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="input-block">
                                @Html.LabelFor(m => m.UserName, new { @class = "form-control-label" })
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            </div>
                            <div class="input-block">
                                @Html.LabelFor(m => m.Email, new { @class = "form-control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="input-block">
                                @Html.LabelFor(m => m.Password, new { @class = "form-control-label" })
                                <div class="pass-group" id="passwordInput">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control pass-input" })
                                    <span class="toggle-password feather-eye"></span>
                                    <span class="pass-checked"><i class="feather-check"></i></span>
                                </div>
                                <div class="password-strength" id="passwordStrength">
                                    <span id="poor"></span>
                                    <span id="weak"></span>
                                    <span id="strong"></span>
                                    <span id="heavy"></span>
                                </div>
                                <div id="passwordInfo"></div>
                            </div>

                            <div class="input-block">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="input-block">
                                @Html.LabelFor(x => x.RoleId, new { @class = "form-control-label" })
                                @Html.DropDownListFor(
                               x => x.RoleId,
                               new SelectList(
                                   roles,
                                   nameof(Advanced.Models.RoleViewDto.RoleId),
                                   nameof(Advanced.Models.RoleViewDto.Name)
                                ),
                               new { @class = "form-control" })
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-start">Create Account</button>

                            </div>
                        }
                        @*<form action="https://dreamslms.dreamstechnologies.com/html/login.html">
                                <div class="input-block">
                                    <label class="form-control-label">Full Name</label>
                                    <input type="text" class="form-control" placeholder="Enter your Full Name">
                                </div>
                                <div class="input-block">
                                    <label class="form-control-label">Email</label>
                                    <input type="email" class="form-control" placeholder="Enter your email address">
                                </div>
                                <div class="input-block">
                                    <label class="form-control-label">Password</label>
                                    <div class="pass-group" id="passwordInput">
                                        <input type="password" class="form-control pass-input" placeholder="Enter your password">
                                        <span class="toggle-password feather-eye"></span>
                                        <span class="pass-checked"><i class="feather-check"></i></span>
                                    </div>
                                    <div class="password-strength" id="passwordStrength">
                                        <span id="poor"></span>
                                        <span id="weak"></span>
                                        <span id="strong"></span>
                                        <span id="heavy"></span>
                                    </div>
                                    <div id="passwordInfo"></div>
                                </div>

                                <div class="form-check remember-me">
                                    <label class="form-check-label mb-0">
                                        <input class="form-check-input" type="checkbox" name="remember"> I agree to the <a href="term-condition.html">Terms of Service</a> and <a href="privacy-policy.html">Privacy Policy.</a>
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-start" type="submit">Create Account</button>
                                </div>
                            </form>*@
                    </div>
                    <div class="google-bg text-center">
                        <span><a href="#">Or sign in with</a></span>
                        <div class="sign-google">
                            <ul>
                                <li><a href="#"><img src="~/Scripts/assets/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
                                <li><a href="#"><img src="~/Scripts/assets/img/net-icon-02.png" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
                            </ul>
                        </div>
                        <p class="mb-0">Already have an account? @Html.ActionLink("Sign in", "Login", "Account")</p>
                    </div>
                </div>
                <!-- /Login -->

            </div>

        </div>

    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/Scripts/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Owl Carousel -->
    <script src="~/Scripts/assets/js/owl.carousel.min.js"></script>

    <!-- Validation-->
    <script src="~/Scripts/assets/js/validation.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/assets/js/script.js"></script>


</body>
<!-- Mirrored from dreamslms.dreamstechnologies.com/html/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jan 2024 16:53:05 GMT -->
</html>
