@using Advanced.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamslms.dreamstechnologies.com/html/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jan 2024 16:53:04 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams LMS</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Scripts/assets/img/favicon.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Scripts/assets/plugins/fontawesome/css/all.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Scripts/assets/css/owl.theme.default.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/plugins/feather/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/css/style.css">

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper log-wrap">

        <div class="row">

            <!-- Login Banner -->
            <div class="col-md-6 login-bg">
                <div class="owl-carousel login-slide owl-theme">
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="~/Scripts/assets/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>CMC Academy.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="~/Scripts/assets/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>CMC Academy.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="~/Scripts/assets/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>CMC Academy.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Login Banner -->

            <div class="col-md-6 login-wrap-bg">

                <!-- Login -->
                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="w-100">
                            <div class="img-logo">
                                <img src="~/Scripts/assets/img/logo.svg" class="img-fluid" alt="Logo">
                                <div class="back-home">
                                    <a href="~/Home/Index">Back to Home</a>
                                </div>
                            </div>
                            <h1>Sign into Your Account</h1>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="input-block">
                                    @Html.LabelFor(m => m.Email, new { @class = "form-control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="input-block">
                                    @Html.LabelFor(m => m.Password, new { @class = "form-control-label" })
                                    <div class="pass-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control pass-input" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        <span class="feather-eye toggle-password"></span>
                                    </div>
                                </div>
                                <div class="remember-me">
                                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                                        Remember me
                                        <input type="checkbox" name="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-start" type="submit">Sign In</button>
                                </div>
                                @*<p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                            }
                            @*<form action="https://dreamslms.dreamstechnologies.com/html/instructor-dashboard.html">
                                    <div class="input-block">
                                        <label class="form-control-label">Email</label>
                                        <input type="email" class="form-control" placeholder="Enter your email address">
                                    </div>
                                    <div class="input-block">
                                        <label class="form-control-label">Password</label>
                                        <div class="pass-group">
                                            <input type="password" class="form-control pass-input" placeholder="Enter your password">
                                            <span class="feather-eye toggle-password"></span>
                                        </div>
                                    </div>
                                    <div class="forgot">
                                        <span><a class="forgot-link" href="forgot-password.html">Forgot Password ?</a></span>
                                    </div>
                                    <div class="remember-me">
                                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                                            Remember me
                                            <input type="checkbox" name="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-start" type="submit">Sign In</button>
                                    </div>
                                </form>*@
                        </div>
                    </div>
                    <div class="google-bg text-center">
                        <span><a href="#">Or sign in with</a></span>
                        <div class="sign-google">
                            <ul>
                                <li><a href="#"><img src="~/Scripts/assets/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
                                <li><a href="#"><img src="~/Scripts/assets/img/net-icon-02.png" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
                            </ul>
                        </div>
                        <p class="mb-0">New User ? @Html.ActionLink("Create an Account", "AddUser", "Home")</p>
                    </div>
                </div>
                <!-- /Login -->

            </div>

        </div>

    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/Scripts/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Owl Carousel -->
    <script src="~/Scripts/assets/js/owl.carousel.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/assets/js/script.js"></script>

</body>

<!-- Mirrored from dreamslms.dreamstechnologies.com/html/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jan 2024 16:53:05 GMT -->
</html>